
body{ 
    background-color: black
}
h1 {
    display: inline-block;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    color: burlywood;
}
 h1::after{
    content: " ";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: burlywood

 }
 h1::after{
     right: -110px;
 }


p{
    font-family: 'Times New Roman', Times, serif;
    color: burlywood;
}

h3 {
    display: inline-block;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    color: burlywood;

}

h4{
    display: inline-block;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    color: burlywood;
} 
